body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

/* Top Nav */
.topnav {
    background-color: #063C5E;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid white;
    border-radius: 10%;
}

.CC {
    width: 70%;
    border: 3px solid yellow;
    border-radius: 25px;
    margin: 10px auto;
    background-color: #063C5E;
}

.CC-top {
    background-color: #063C5E;
    width: 100%;
    border-radius: 25px;
    height: 100%;
}

.CC-top h1 {
    text-align: center;
    color: yellow;
}

.CC-bottom {
    border: 3px solid yellow;
    background: white;
    margin: 10px 0 0 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: left;
}

.CC-bottom u {
    color: #063C5E;
}

/* Footer */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #063C5E;
    color: white; 
    border-top: 3px solid  #FCCF14;
}
li
{
    list-style-type: none;
}
.link-default a {
    color: white;
}